<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@400;900&family=Sacramento&family=Ubuntu&display=swap" rel="stylesheet">
<html>
	<head>
		<title>Register Page</title>
	</head>    
	<body>
        <nav class="navbar navbar-dark bg-dark justify-content-between navbar-expand-lg">
            <form action = "/loginuser">
                <button style = "border: 0px solid transparent; color: white;" class = "btn btn-outline-dark navbar-brand">donorg</button>
            </form>
            <form class="form-inline" action = "/loginuser">
                <label style="color:white; padding-right: 10px" >Hi {{session.get('username')}}!</label>
                <button class="btn btn-outline-light my-2 my-sm-0 navbar-nav ms-auto" type="submit">Logout</button>
            </form>
        </nav>
        <section id="title" class="colored-section first">
            <center><h1 class="big-heading">Organ Procurement and Donation Management System</h1></center>
        </section>   
        <section class="white-section second">
		<form class="container" action = "/add_login" method = "POST">

            {{validation}}
            <br>
            <br>
            <br>
				<div class="form-group">
					<label>Enter your Username</label>
					<input name = "username" type="text" class="form-control" id="inputUsername" aria-describedby="emailHelp" placeholder="Enter username">
				</div>
				<div class="form-group">
					<label>Enter password</label>
					<input name = "password" type="password" class="form-control" id="inputpassword" placeholder="password">
				</div>
                <div class="form-group">
					<label>Verify password</label>
					<input name = "password1" type="password" class="form-control" id="verifypassword" placeholder="password">
				</div>
				<button type="submit" class="btn btn-dark">Submit</button>
		</form>
        <form class="form-inline" action = "/loginuser">
            <label style="padding-right: 10px; margin-top: 1%; margin-left: 7%;">Already registered?</label>
            <button class="btn btn-dark my-2 my-sm-0" type="submit">Login as User</button>
        </form>
        <!--form class="form-inline" action="/loginuser" method = "POST">
            <label style="padding-right: 10px; margin-top: 1%; margin-left: 7%;">Already registered?</label>
            <button class="btn btn-dark my-2 my-sm-0" type="submit">LoginUser</button>
        </form-->
        </section>
	</body>
</html>